<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
    <div class="container">
        <!-- BRAND -->
        <a class="navbar-brand fw-bold" href="/">
            <img src="/assets/img/favicon3.png" alt="Logo KarirKu" width="25" height="25">
            <span style="color: var(--primary-color);">Karir</span><span style="color: var(--secondary-color);">Ku</span>
        </a>
        <!-- BURGER MENU -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"></ul>
            <div class="d-flex">
                <a href="/login" class="btn btn-outline-custom me-2">Masuk</a>
                <a href="/signup" class="btn btn-primary-custom">Daftar</a>
            </div>
        </div>
    </div>
</nav>